* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  background-color: #121212;
  color: #fff;
  display: grid;
  place-items: center;
  padding-top: 10vh;
  min-height: 100vh;
}

main {
  background-color: #292929;
  height: fit-content;
  padding: 24px 0 0 0;
  width: 80vw;
  max-width: 700px;
  margin-bottom: auto;
  border-radius: 8px;

  /* box-shadow: 5px 5px 5px 4px rgba(88, 88, 88, 0.2); */
}

main .title {
  text-transform: capitalize;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 10px;
}

main ul {
  /* display: grid; */
  background-color: #121212;
  border-top: 2px solid #121212;
}

ul li {
  list-style-type: none;
  padding: 0 20px;
  /* padding: 20px; */
  /* font-size: 16px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  margin-bottom: 2px;
}

li:hover {
  background-color: #303030;
}

li:focus-within {
  background-color: #383838;
}

li form#tasks {
  margin-right: auto;
  margin-left: 18px;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  outline: 1px solid #121212;
  cursor: pointer;
}

img {
  width: 20px;
  cursor: pointer;
}

.task img {
  cursor: move;
}

form {
  width: 90%;
}

form input {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
}

input::placeholder {
  color: inherit;
  opacity: 1;
  font-style: italic;
}

#clear {
  background-color: #323232;
  color: #fff;
  border: none;
  width: 100%;
  border-top: 2px solid #121212;
  padding: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#clear:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #363636;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
